.right .analytics {
    margin-top: 2rem !important;
}

.right .analytics h2 {
    margin-bottom: 0.8rem !important;
}

.right .analytics .item {
    background: var(--color-white) !important;
    display: flex !important;
    align-items: center !important;
    gap: 1rem !important;
    margin-bottom: 0.7rem !important;
    padding: 1.4rem var(--card-padding) !important;
    border-radius: var(--border-radius-3) !important;
    box-shadow: var(--box-shadow) !important;
    transition: all 300ms ease !important;
    margin-right: 0.8rem !important;
}

.right .analytics .item:hover {
    box-shadow: none !important;
}

.right .analytics .item .right {
    display: flex !important;
    justify-content: space-between !important;
    align-items: start !important;
    margin: 0 !important;
    width: 100% !important;
}

.right .analytics .item .icon {
    padding: 0.6rem !important;
    color: var(--color-white) !important;
    border-radius: 50% !important;
    display: flex !important;
    background: var(--color-warning) !important;
}

.right .analytics .item.cancelled .icon {
    padding: 0.6rem !important;
    color: var(--color-white) !important;
    border-radius: 50% !important;
    display: flex !important;
    background: var(--color-primary) !important;
}

.right .analytics .item.received .icon {
    padding: 0.6rem !important;
    color: var(--color-white) !important;
    border-radius: 50% !important;
    display: flex !important;
    background: var(--color-success) !important;
}

@media screen and (max-width: 1200px) {
    .analytics {
        width: 94% !important;
    }
}