 main {
     margin-top: 1.4rem !important;
 }

 .description {
     margin: 1rem auto !important;
     border-radius: var(--card-border-radius) !important;
     margin-bottom: 1.4rem !important;
 }

 .description .description-content textarea {
     width: 100% !important;
     height: 120px !important;
     border-radius: var(--card-border-radius) !important;
     box-shadow: var(--box-shadow) !important;
     padding: 25px !important;
     font-family: 'Poppins', sans-serif !important;
     transition: all 300ms ease !important;
     resize: none !important;
 }

 .description .description-content textarea:hover {
     box-shadow: none !important;
     transition: all 300ms ease !important;
 }

 .create {
     margin-top: 1rem !important;
     display: flex !important;
     justify-content: space-between !important;
 }

 .create button {
     color: white !important;
     background: var(--color-primary) !important;
     border-radius: var(--border-radius-1) !important;
     box-shadow: var(--box-shadow) !important;
     align-items: center !important;
     justify-content: center !important;
     padding: 0.5rem 1.6rem !important;
     margin-left: 0.4rem !important;
     font-size: 1rem !important;
     cursor: pointer !important;
     transition: all 300ms ease !important;
 }

 .create button:hover {
     transition: all 300ms ease !important;
     transform: scale(110%) !important;
     box-shadow: none !important;
 }

 .create button:last-child {
     background: none !important;
     box-shadow: none !important;
     color: var(--color-danger) !important;
 }

 #editing {
     display: flex;
 }

 /* #cancel-edit-btn {
     align-items: center;
     justify-content: center;
     box-shadow: none;

     background: none;
     cursor: pointer;
 }

 #cancel-edit-btn span {
     font-size: 1.3rem;
 } */

 .wrapper {
     display: flex !important;
     justify-content: space-between !important;
     margin: auto !important;
 }

 .items {
     transition: all 300ms ease !important;
     box-shadow: var(--box-shadow) !important;
     border-radius: var(--border-radius-1) !important;
     padding: 15px !important;
     margin-left: 0.5rem !important;
     margin-right: 0.5rem !important;
     width: 45% !important;
 }

 .items:hover {
     box-shadow: none !important;
 }

 .wrapper input,
 .wrapper select {
     align-items: center !important;
     justify-content: center !important;
     margin: 0.5rem !important;
     margin-right: 0.5rem !important;
     border-radius: var(--border-radius-1) !important;
     box-shadow: var(--box-shadow) !important;
     padding: 15px !important;
     font-weight: 500 !important;
     width: 22% !important;
     transition: all 300ms ease !important;
     width: 45% !important;
 }

 .wrapper input:hover,
 .fields>select:hover {
     box-shadow: none !important;
     transition: all 300ms ease !important;
 }

 #item {
     display: none;
 }

 #unit {
     display: none;
 }

 .items-table {
     margin-top: 2rem !important;
     margin-bottom: 3rem !important;
     min-height: 0vh !important;
     max-height: 80% !important;
 }

 .items-table .table {
     margin: 0 !important;
     max-height: 37vh !important;
     overflow-y: auto !important;
     margin-top: 0 !important;
     border-radius: var(--card-border-radius) !important;
     box-shadow: var(--box-shadow) !important;
     background: var(--color-white) !important;
 }

 .items-table table {
     margin-top: 0 !important;
     width: 100% !important;
     padding: var(--card-padding) !important;
     text-align: center !important;
     transition: all 300ms ease !important;
 }

 .items-table .table:hover {
     box-shadow: none !important;
 }

 .items-table table tr td button {
     background: transparent !important;
     cursor: pointer !important;
 }


 table tbody td {
     height: 2.8rem !important;
     border-bottom: 1px solid var(--color-light) !important;
     color: var(--color-dark-variant) !important;
     margin: auto !important;
 }



 @media screen and (max-width: 1200px) {

     main {
         width: 94% !important;
     }
 }

 @media screen and (max-width: 768px) {

     main {
         margin-top: 4rem !important;
         padding: 0 1rem !important;
     }
 }