@import url('variables.css');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300 !important;400 !important;500 !important;600 !important;700 !important;800&display=swap') !important; */

* {
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
    appearance: none !important;
    border: 0 !important;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box !important;
}

html {
    font-size: 14px !important;
}

body {
    margin-top: 1rem !important;
    width: 100vw !important;
    height: 100vh !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 0.88rem !important;
    background: var(--color-background) !important;
    user-select: none !important;
    overflow-x: hidden !important;
}

a {
    color: var(--color-dark) !important;
}

img {
    display: block !important;
    width: 100% !important;
}

h1 {
    font-weight: 800 !important;
    font-size: 1.8rem !important;
}

h2 {
    font-size: 1.4rem !important;
}

h3 {
    font-size: 0.87rem !important;
}

h4 {
    font-size: 0.8rem !important;
}

h5 {
    font-size: 0.77rem !important;
}

small {
    font-size: 0.75rem !important;
}

p {
    color: var(--color-dark-variant) !important;
}

b {
    color: var(--color-dark) !important;
}

aside {
    height: 100vh !important;
    margin-top: -1rem !important;
}

aside .top {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding-left: .8rem !important;
    margin-top: 1.4rem !important;
}

aside .logo {
    display: flex !important;
    gap: 1rem !important;
}

aside img {
    height: 2rem !important;
    width: 2rem !important;
    margin: auto !important;
}


aside .close {
    display: none !important;
}

aside .sidebar {
    display: flex !important;
    flex-direction: column !important;
    height: 86vh !important;
    position: relative !important;
    top: 3rem !important;
}

aside h3 {
    font-weight: 500 !important;
}

aside .sidebar a,
aside .sidebar button {
    display: flex !important;
    color: var(--color-info-dark) !important;
    margin-left: 2rem !important;
    gap: 1rem !important;
    align-items: center !important;
    position: relative !important;
    height: 2.7rem !important;

    transition: all 300ms ease !important;
}

aside .sidebar button {
    position: absolute !important;
    bottom: 2rem !important;
    width: 100% !important;
}

aside .sidebar a span,
aside button span {
    font-size: 1.6rem !important;
    transition: all 300ms ease !important;
}

aside .sidebar a.active {
    background: var(--color-light) !important;
    color: var(--color-primary) !important;
    margin-left: 0 !important;
}

aside .sidebar a.active:before {
    content: "" !important;
    width: 6px !important;
    height: 100% !important;
    background: var(--color-primary) !important;
}

aside .sidebar a.active span {
    color: var(--color-primary) !important;
    margin-left: calc(1rem - 3px) !important;
}

aside .sidebar a:hover,
aside button:hover {
    color: var(--color-primary) !important;
}

aside .sidebar a:hover span,
aside button:hover span {
    margin-left: 1rem !important;
}

.logout_btn {
    background: none !important;
}

.content {
    display: grid !important;
    width: 100% !important;
    margin: 0 auto !important;
    gap: 1.8rem !important;
    grid-template-columns: 14rem auto 23rem !important;
}

.text-muted {
    color: var(--color-info-dark) !important;
}

.primary {
    color: var(--color-primary) !important;
}

.danger {
    color: var(--color-danger) !important;
}

.success {
    color: var(--color-success) !important;
}

.warning {
    color: var(--color-warning) !important;
}

.partial {
    color: var(--color-partial) !important;
}

.primary-variant {
    color: var(--color-primary-variant) !important;
}

.text-info-light {
    color: var(--color-info-light) !important;
}

.bg-primary-mine {
    background-color: var(--color-primary) !important;
}

.bg-info-dark {
    background-color: var(--color-info-dark) !important;
}

.bg-warning-mine {
    background-color: var(--color-warning) !important;
}

.bg-success-mine {
    background-color: var(--color-success) !important;
}

.order-select {
    background-color: var(--color-info-light) !important;
}

.order-select:checked {
    background-color: var(--color-primary-variant) !important;
    /* background-image: none !important; */
}


td span.text-muted {
    background-color: var(--color-info-dark) !important;
}

td span.primary {
    background-color: var(--color-primary) !important;
}

td span.danger {
    background-color: var(--color-danger) !important;
}

td span.success {
    background-color: var(--color-success) !important;
}

td span.warning {
    background-color: var(--color-warning) !important;
}

td span.partial {
    background-color: var(--color-partial) !important;
}

.date,
.time {
    display: inline-block !important;
    background: var(--color-light) !important;
    border-radius: var(--border-radius-1) !important;
    padding: 0.5rem 1.6rem !important;
}

.date input[type='date'] {
    background: transparent !important;
    color: var(--color-dark) !important;
}

.date-time {
    margin-top: 1rem !important;
    color: var(--color-info-dark) !important;
}


.profile-photo {
    width: 2.8rem !important;
    height: 2.8rem !important;
    border-radius: 50% !important;
    overflow: hidden !important;
}

.right {
    margin-top: 1rem !important;
    margin-right: .4rem !important;
}

.right .top {
    display: flex !important;
    justify-content: end !important;
    gap: 2rem !important;
}

.right .top button {
    display: none !important;
}

.right .top .profile {
    display: flex !important;
    gap: 2rem !important;
    text-align: right !important;
    margin-right: 1.4rem !important;
    align-items: center !important;
}

.right .top .notification {
    display: flex !important;
    margin-right: 1.4rem !important;
    align-items: center !important;
}

.right .middle,
.right .bottom {
    margin-top: 1.4rem !important;
}

.flash-message {
    position: absolute !important;
    top: 0 !important;
    margin: 0 auto !important;
    background-color: var(--color-success) !important;
    color: var(--color-white) !important;
}


@media screen and (max-width:1200px) {

    .content {
        width: 94% !important;
        grid-template-columns: 6rem auto 23rem !important;
    }

    aside .top .logo span {
        display: none !important;
    }

    aside .top .logo img {
        margin-left: 1rem !important;
    }

    aside .sidebar h3 {
        display: none !important;
    }

    aside .sidebar a {
        width: 5.6rem !important;
    }

    aside .sidebar button {
        position: relative !important;
        margin-top: 1.8rem !important;
        width: 5.6rem !important;
    }

    main .insights {
        width: 50% !important;
    }
}


@media screen and (max-width: 768px) {
    .content {
        width: 100% !important;
        grid-template-columns: 1fr !important;
        margin-left: 2rem !important;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white) !important;
        width: 18rem !important;
        z-index: 3 !important;
        box-shadow: 1rem 3rem 4rem var(--color-light) !important;
        height: 100vh !important;
        padding-right: var(--card-padding) !important;
    }

    #sidebar.active {
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .top .logo span {
        display: inline !important;
    }

    aside .sidebar h3 {
        display: inline !important;
    }

    aside .sidebar a {
        width: 100% !important;
        height: 3.4rem !important;
    }

    aside .sidebar button {
        position: absolute !important;
        bottom: 5rem !important;
    }

    aside .close {
        display: inline-block !important;
        cursor: pointer !important;
        margin-right: -1rem !important;
    }

    .right {
        width: 94% !important;
        margin: 0 auto 4rem !important;
    }

    .right .top {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        align-items: center !important;
        padding: 0 0 .8rem !important;
        height: 4.6rem !important;
        background: var(--color-white) !important;
        width: 100% !important;
        margin: 0 !important;
        z-index: 2 !important;
        box-shadow: 0 1rem 1rem var(--color-light) !important;
    }

    /* .right .profile .info {
        display: none !important;
    } */

    .right .top button {
        display: inline-block !important;
        background: transparent !important;
        cursor: pointer !important;
        color: var(--color-dark) !important;
        position: absolute !important;
        left: 1rem !important;
    }

    .right .top button span {
        font-size: 2rem !important;
    }
}