@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300 !important;400 !important;500 !important;700&display=swap');

* {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Heebo', sans-serif !important;
}

html,
body {
    display: grid !important;
    height: 100% !important;
    width: 100% !important;
}

.header {
    background-color: #fff !important;
    padding: 22px !important;
    text-align: left !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
    opacity: 0.9 !important;

    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 44px !important;
}

.main_container {
    background: #F2F2F2 !important;
    height: 110% !important;
    width: 100% !important;
    position: relative !important;
}

.container {
    float: left !important;
}

.container .system_title {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 72px !important;
    line-height: 107.37% !important;
    position: absolute !important;
    width: 789px !important;
    height: 170px !important;
    left: 58px !important;
    top: 220px !important;
}

.container .system_description {
    position: absolute !important;
    width: 662px !important;
    height: 55px !important;
    left: 58px !important;
    top: 408px !important;

    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 42px !important;
    line-height: 116.37% !important;
}

.container form {
    padding: 10px 30px 50px 30px !important;
}

.container form .field {
    top: 450px !important;
    display: block !important;
    height: 48px !important;
    width: 120% !important;
    padding: 15px !important;
    position: relative !important;
}

.container form .field input {
    height: 100% !important;
    width: 100% !important;
    outline: none !important;
    font-size: 17px !important;
    padding-left: 20px !important;
    border: 1px solid lightgrey !important;
    border-radius: 25px !important;
    transition: all 0.3s ease !important;
}

.container form .field input:focus,
form .field input:valid {
    border-color: #0d52bd !important;
}

.container form .field label {
    position: absolute !important;
    top: 50% !important;
    left: 35px !important;
    color: #999999 !important;
    font-weight: 400 !important;
    font-size: 17px !important;
    pointer-events: none !important;
    transform: translateY(-50%) !important;
    transition: all 0.3s ease !important;
}

form .field input:focus~label,
form .field input:valid~label {
    top: 0% !important;
    font-size: 16px !important;
    color: #0d52bd !important;
    background: #F2F2F2 !important;
    transform: translateY(-50%) !important;
}

form .field input[type="submit"] {
    width: 35% !important;
    height: 80% !important;
    color: #fff !important;
    border: none !important;
    padding-left: 0 !important;
    margin-top: -10px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    cursor: pointer !important;
    background: #000000 !important;
    border-radius: 15px !important;
    transition: all 0.3s ease !important;
}

form .field input[type="submit"]:active {
    transform: scale(0.95) !important;
}

form .contact_admin {
    position: relative !important;
    color: #0d52bd !important;
    margin-top: 470px !important;
    text-align: center !important;
}

.container__half {
    flex: 1 !important;
}

.container img {
    position: absolute !important;
    width: 65% !important;
    left: 597px !important;
    top: 49px !important;
}