.account-settings {
    background: var(--color-white) !important;
    padding: var(--card-padding) !important;
    border-radius: var(--card-border-radius) !important;
    margin-top: 1rem !important;
    box-shadow: var(--box-shadow) !important;
    transition: all 300ms ease !important;
}

.account-settings img {
    width: 13rem !important;
}

.account-settings input,
.account-settings select {
    background-color: var(--color-light) !important;
}

.form-check-input {
    background-color: var(--color-info-light) !important;
    padding: .7rem !important;
    width: 7% !important;
    margin-top: .2rem !important;
}

.form-check-input:checked {
    background-color: var(--color-primary) !important;
}